    
        .do {
            height: 100px;
            width: 100px;
            font-size: 70px;
            text-align: center;

        }

        #box2 {
            border-left: 10px solid yellow;

            border-right: 10px solid yellow;
        }

        #box4 {
            border-top: 10px solid yellow;
            border-bottom: 10px solid yellow;

        }

        #box5 {
            border-top: 10px solid yellow;
            border-left: 10px solid yellow;
            border-bottom: 10px solid yellow;
            border-right: 10px solid yellow;
        }

        #box6 {
            border-top: 10px solid yellow;
            border-bottom: 10px solid yellow;

        }

        #box8 {
            border-left: 10px solid yellow;

            border-right: 10px solid yellow;
        }
        .div1 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            position: relative;
            height: 300px;
            width: 300px;
            justify-content: center;
            
        }

        #main {
            background-color: blueviolet;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 2px solid blue;
        }

        #you_me {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            gap: 10px;

        }
        .me-you{
            width: 100px;
            height: 40px;
            font-size:25px ;
            background-color: bisque;
            color: rgb(213, 35, 35);
            display: flex;
            justify-content: space-between;
            box-shadow: 0px 5px 10px 2px rgb(67, 62, 62);
            align-items: center;
            
        }
        span{
            font-size: 30px;
            text-align: right;
        }
        #reset{
            position: relative;
            top:80px;
            width: 120px;
            height: 40px;
            font-size: 25px;
            border-radius: 20px;
            box-shadow: 0px 5px 10px 2px rgb(67, 62, 62);
            background-color: aqua;
        }
        #result{
            color: aqua;
        }
        .do{
             text-shadow: 0px 5px 10px 2px rgb(67, 62, 62);
        }
        .line-d1 {
        position: absolute;
        left: 50.5%;
        top: 5.3%;
        transform: rotate(-45deg);
        width: 10px;
        height: 0;
        background: rgb(85, 0, 255);
        animation: growD linear forwards;
      }
      .line-d2 {
        position: absolute;
        left: 49.5%;
        top: 3%;
        transform: rotate(45deg);
        width: 10px;
        height: 0;
        background: rgb(85, 0, 255);
        animation: growD linear forwards;
      }
      @keyframes growD {
        from {
          height: 0%;
        }
        to {
          height: 100%;
        }
      }
      .line-fc {
        position: absolute;
        left: 13.7%;
        transform: translateX(-50%);
        width: 10px;
        height: 0;

        background: yellowgreen;
        animation: growDown linear forwards;
      }


      .line-sc {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 0;
        background: red;
        animation: growDown linear forwards;
      }

      .line-tc {
        position: absolute;
        left: 86.5%;
        transform: translateX(-50%);
        width: 10px;
        height: 0;
        background: orange;
        animation: growDown linear forwards;
      }

      @keyframes growDown {
        from {
          height: 0%;
        }

        to {
          height: 100%;
        }
      }
      .line-fr {
        position: absolute;
        top: -33.5%;
        left :48%;
        transform: rotate(90deg);
        width: 10px;
        height: 0;
        background: orange;
        animation: grow linear forwards;
      }
      .line-sr {
        position: absolute;
        top: 3.5%;
        left: 48%;
        transform: rotate(90deg);
        width: 10px;
        height: 0;
        background: orange;
        animation: grow linear forwards;
      }
      .line-tr {
        position: absolute;
        top: 40%;
        left: 48%;
        transform: rotate(90deg);
        width: 10px;
        height: 0;

        background: orange;
        animation: grow linear forwards ;
      }
      @keyframes grow{
        from{
          height: 0%
        }
        to{
          height: 100%;
        }
      }
      .result-list{
        position: relative;
        bottom :40px;
        font-size: 25px;
        color:orange;
      }
      #player1{
        height: 20px;
        width: 50px;
        border-radius: 6px;
        background: gold;
      }
      #player2{
        height: 20px;
        width: 50px;
        border-radius: 6px;
        background: gold;
      }
    
